.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 10px;
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.041);
}

.title {
  margin: 10px 0;
  font-size: 20pt;
  font-family: 'Nunito';
  color: rgb(15, 7, 46);
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
}

/*.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 65%;
  background-color: rgb(51, 12, 192);
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: rgb(51, 12, 192);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}*/

.response {
  text-align: left;
  color: #0000007e;
  font-size: 11pt;
  font-family: Arial;
  font-style: italic;
}

.flex {
    display: flex;
    gap: 10px;
}


.inputs_box {
    position: relative;
    width: 100%;
    /* ajuste conforme a altura do input */
    display: flex;
    align-items: center;
    justify-content: left;
}

.input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border-radius: 8px;
  color: #000000;
  border: none;
  border: 1px solid #00000067;
  outline: none;
  background: transparent;
  font: 11pt normal;
  font-family: Arial, Helvetica, sans-serif;
}

.inputs_box label {
    position: absolute;
    padding-left: 10px;
    font-size: 11pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #0000006c;
    pointer-events: none;
    transition: all .2s ease;
}

.inputs_box input:valid ~ label, 
.inputs_box input:focus ~ label {
    opacity: 0;
}

.inputs_box input:focus,
.inputs_box input:valid {
  border: 1px solid rgb(51, 12, 192);
}

.submit {
  border: none;
  outline: none;
  background-color: rgb(51, 12, 192);
  padding: 12px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 13pt;
  font-family: 'Rubik';
  transition: all .2s ease;
}

.submit:hover {
  box-shadow: 0 0 15px rgb(60, 47, 233);
  transform: scale(1.01);
  background-color: rgb(60, 47, 233);
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}