<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form className="form">
        <div className="header">
           <p className="title">Registrar Usuário</p> 
        </div>
    
        <div className="flex">
            <div className="inputs_box">
                <input type="text" className="input" required>
                <label for="name">Primeiro Nome</label>
                
            </div>
            
            <div className="inputs_box">
                <input type="text" className="input" required>
                <label for="name">Segundo Nome</label>
            </div>
        </div>

        <div className="inputs_box">
                <input type="email" className="input" required>
                <label for="name">E-mail</label>
        </div>
        <div className="inputs_box">
                <input type="password" className="input" required>
                <label for="name">Senha</label>
        </div>
        <div className="inputs_box">
                <input type="password" className="input" required>
                <label for="name">Confirmar senha</label>
        </div>
        

    <button className="submit">Submit</button>
    <p className="response">Resposta</p>
</form>
    
</body>
</html>